h1 {
  font-size: 3.5em;
  margin-block-end: 0;
}

.profile-picture {
  width: 128px;
  border-radius: 100px;
}

.header {
  margin-top: 50px;
  text-align: center;
}

.content {
  margin-top: 50px;
  text-align: center;
}

.button {
  width: 100%;
  max-width: 800px;
  font-size: 1.5em;
  margin-bottom: 25px;
  transition-duration: 0.4s;
  overflow: hidden;
}

.footer {
  margin-top: 25px;
  text-align: center;
}

.credits {
  font-size: 0.8em;
}

.credits a {
  text-decoration: none;
}

@media only screen and (max-width: 464px) {
  h1 {
    font-size: 2.5em;
    margin-block-end: 0;
  }
  p {
    font-size: 0.9em;
  }
  .button {
    font-size: 1.2em;
  }
}
